@{
    ViewData["Title"] = "Home Page";
}

<style>
    .button {
      background-color: #6699ff; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a href="/livro" class="button"> Livros</a>
    <a href="/autor" class="button"> Autores</a>
    <a href="/editora" class="button"> Editora</a>
    <a href="/leitor" class="button"> Leitores</a>
    <a href="/genero" class="button"> Gêneros</a>
    <a href="/emprestimo" class="button"> Empréstimos</a>
</div>
