@model PortalBiblioteca.Models.Livro

<form action="/Livro/Create" method="post">
    <div>
        <div class="form-group">
            <label>Titulo</label>
            <input asp-for="Titulo" type="text" placeholder="Titulo" />
        </div>
        <div class="form-group">
            <label>Número de páginas</label>
            <input asp-for="NumeroPaginas" type="text" placeholder="NumeroPaginas" />
        </div>
        <div class="form-group">
            <label>Gênero</label>
            <input asp-for="GeneroId" type="text" />
        </div>
        <div class="form-group">
            <label>Autor</label>
            <input asp-for="AutorId" type="text" />
        </div>
        <div class="form-group">
            <label>Editor</label>
            <input asp-for="EditoraId" type="text" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        </div>
</form>