@model PortalBiblioteca.Models.Livro
@{
}

<form action="/Livro/Update/" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <div>
            <label>Titulo</label>
            <input asp-for="Titulo" type="text" /> <br />
            <label>Número de Páginas</label>
            <input asp-for="NumeroPaginas" type="text" /> <br />
            <label>Autor</label>
            <input asp-for="AutorId" type="text" /> <br />
            <label>Editora</label>
            <input asp-for="EditoraId" type="text" /> <br />
            <label>Gênero</label>
            <input asp-for="GeneroId" type="text" /> <br />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>