@using PortalBiblioteca.Models

@{
    ViewData["Title"] = "Index";
}
@{
    var emprestimos = ViewBag.Message;
    var mes = ViewBag.Mes;
}
<h1>Index</h1>

<h1>Devoluções atrasadas no mês @mes: @emprestimos</h1>

<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background-color: #6699ff;
        color: white;
        text-align: left;
    }

    tr:hover {
        background-color: #a6a6a6;
    }
</style>